.productList
  table
    tr
      td
        text-align: center
        border: solid 0.5px black
        padding: 3px
        border-radius: 5px
  &_checkBlock
    border: none !Important
    padding: 0 !Important
  &_sort
    display: flex
    &_arrows
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
  &_category
    display: flex
    position: relative
    &__box
      display: flex
      justify-content: flex-start
      align-items: center
    &__SortBlock
      width: max-content
      padding: 5px
      position: absolute
      border: solid 1px #000
      left: 80px
      background-color: #ffffff
      box-shadow: 0 3px 47px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 76%)
      z-index: 99
  &_sortUp
    transform: rotate(-45deg)
  &_sortDown
    transform: rotate(130deg)
  &_checked
    width: 25px
    height: 25px
    margin-left: 10px
    display: block
.sortArrow
  cursor: pointer
  width: 5px
  height: 5px
  border-top: solid 1px black
  border-right: solid 1px black
  margin-left: 10px

